body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  gap: 40px;
}

button {
  font-size: 58px;
  font-family: 'Roboto Condensed', sans-serif;
  background: #1E1E1E;
  border-radius:20px;
  color: white;
  padding: 8px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* добавляем тень */
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
  background: #333;
}

.greeting {
  font-size: 42px;
  font-family: 'Open Sans', sans-serif;
}